$color-main: #1B1C21;
$color-mint: #41F6D7;
$color-background: #F8F8F8;
$color-menu: #D9FFF5;
$color-devider: #EAEAEA;
$color-nav-links: #7E7E82;
$color-red: #FF0000;
$color-white: #ffffff;
$color-gray: #B5B6BC;
$color-gray-light: #7E7E82;
$color-bloody: #FF3E79;
$color-swiper: #F2F2F2;
$color-items: #B8FFEC;
